* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary: #032541;
  --secondary: #00A0CF;
}
.btn {
  padding: 10px 15px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  background-color: #00A0CF;
  transition: all .3 ease;
}
.btn:hover {
  opacity: 0.8;
  color: white;
}